.footer .footer-lblLogo{
    width: 690px;
    color: rgba(40, 249, 6, 0.7);
    line-height: 50px;
    font-size: 22px;
}

.footer .csach{
    width: 24%;
    color: white;
    margin-left: 100px;
    margin-top: 20px;
}

.footer .csach .divttin{
    margin-top: 39px;
}

.lbltt{
    width: 50%;
    color: white;
    margin-left: 100px;
    margin-top: 40px;
    margin-bottom: 25px;
}

.img-paypal{
    width: 500px;
    margin-left: 112px;
}
