.history {
    height: 100%;
    width: 93%;
    margin-left: 3%;
    margin-top: 2%;
    margin-bottom: 49px;
    border-radius: 20px;
    box-shadow: 20px 20px 0px 0px #acacac;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
    border: 2px solid rgba(38, 194, 13, 1);
}

.list_trip{
    width: 50%;
    margin-left: 2%;
    margin-top: 2%;
    font-family: Inter;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
}

.search_trip{
    height: 35px;
    width: 24%;
    margin-left: 28%;
    /* margin-top: 4%; */
    border-radius: 20px;
}

.btn_search_trip{
    height: 35px;
    width: 8%;
    margin-left: 28px;
    /* margin-top: 0%; */
    border-radius: 20px;
    background: rgba(27, 176, 3, 1);
    font-family: Inter;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
}

.btn_xem_chi_tiet{
    width: 50%;
    border-radius: 20px;
    background: rgba(27, 176, 3, 1);
    font-family: Inter;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
}

.table_trip{
    width: 98%;
    margin-left: 1%;
    margin-top: 2%;
    border-radius: 0px;
    font-family: Inter;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: center;
}