.card-xe-home{
    border-radius: 57px;
    width: 23%;
    margin-left: auto;
    margin-right: auto;
    color: aliceblue;
    background: rgba(45, 40, 40, 1);
}

.img-more2{
    width: 100%;
}

.star-home{
    width: 55%;
    text-align: left;
}

.trip-home{
    width: 65%;
    text-align: right;
}