.bg_img{
    background-image: url("../images/background.png");
    background-size: auto;
    position: relative;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.bg_img_dk{
    background-image: url("../images/backgroundregiser.jpg");
    background-size: auto;
    position: relative;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.align-form{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.6); /* Black w/opacity/see-through */
    margin-top: 20%;
    margin-bottom: 20%;
}